a, a:hover {
    color: #08c;
    text-decoration: none;
}
.btn-primary {
    background-color: #579bcf;
    border: 0;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    background-color: #5490c1;
    background:#5490c1;
}
.btn-primary.focus, .btn-primary:focus {
    background-color: #5490c1;
    border: 0;
    box-shadow: 0 0 0 0.1rem rgba(38,143,255,.5);
}
.btn-primary:hover {
    background-color: #5490c1;
}
.content-wrapper {
    position: relative;
}
.thread-action {
    display: flex;
    justify-content: space-between;
}
.btn-flat {
    border-radius: 0;
}
.comments-count {
    font-weight: 500;
}
.thread-action {
    font-size: 13px;
    margin-bottom: 10px;
}
.comment {
    position: relative;
    padding: 0;
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.comment--reply {

}
.comment-img {
    width: 40px;
    height: auto;
    /* background-color: skyblue; */
}
.comment-info {
   margin-left: 10px;
}
.comment-info_group {
    display: flex;
    flex-direction: row;
    font-size: 12px;
}
.comment-info__group--date {
    margin-left: 10px;
    font-size: 14px;
}
.comment-actions {
    font-size: small;
}
.comment-actions a {
    margin-right: 5px;
}
.comment-actions--reply:hover, .comment-actions--delete:hover {
    color: #333 !important;
}
.comment--reply .thread_creator {
    display: flex;
    flex-direction: column;
    border-left: 2px solid #579bcf;
    padding-left: 8px;
}