.col-lg-12 {
    padding: 0;
}
a, a:hover {
    color: #08c;
    text-decoration: none;
}
.btn-primary {
    background-color: #369ace;
    border: 0;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    background-color: #5490c1;
    background:#5490c1;
}
.btn-primary.focus, .btn-primary:focus {
    background-color: #5490c1;
    border: 0;
    box-shadow: 0 0 0 0.1rem rgba(38,143,255,.5);
}
.btn-primary:hover {
    background-color: #5490c1;
}
.material-icons-round {
    font-size: inherit;
    vertical-align: middle;
}
.form-control:focus {
    border: 1px solid #ced4da;
    box-shadow: none;
}
.content-wrapper {
    position: relative;
    overflow-x: hidden;
}
.thread-action {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}
.btn-flat {
    border-radius: 0;
}
.comments-wrapper {
    min-height: calc(100vh - 285px);
    padding: 8px 15px;
}
.comments-count {
    font-weight: 500;
    display: block;
    padding-left: 15px;
}
.thread-action {
    font-size: 13px;
    margin-bottom: 10px;
}
.comment {
    position: relative;
    padding: 0;
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.comment-img {
    width: 40px;
    height: auto;
    /* background-color: skyblue; */
}
.comment-info {
   margin-left: 10px;
}
.comment-info_group {
    display: flex;
    flex-direction: row;
    font-size: 12px;
}
.comment-info__group--date {
    margin-left: 10px;
    font-size: 14px;
}
.comment-text {
    font-size: 1.05rem;
}
.comment-actions {
    font-size: 0.75rem;
}
.comment-actions a {
    margin-right: 5px;
}
.comment-actions--reply:hover, .comment-actions--delete:hover {
    color: #333 !important;
    text-decoration: underline;
}
.thread_creator {
    display: flex;
    flex-direction: column;
    padding-left: 8px;
}
.thread_creator__name {
    display: flex;
    align-items: center;
    flex-flow: nowrap;
}
.right {
    margin-left: auto;
}
.left {
    align-self: flex-start;
}
.comment--reply .thread_creator {
    border-left: 2px solid #179cde;
}
.comment--create {
    margin-top: 20px;
}
.comment--create .comment-info {
    border-left: 2px solid #179cde;
    width: 100%;
}
.dot {
    font-size: 18px;
    vertical-align: bottom;
}
.footer-content {
    margin: 20px 0;
    padding: 0 15px;
}
.footer-content__links {
    display: flex;
    flex-direction: column;
    font-size: inherit;
    justify-content: center;
    align-items: center;
}
.footer-links .dot {
    padding: 0 5px;
}
.footer-content__form .form-group {
    display: flex;
    flex-direction: row wrap;
    align-items: center;
}
.form-control {
    border-radius: 25px;
    margin-right: 7px;
}
.footer-content__form .form-group button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 6px 12px;
}
.footer-content__form .form-group i {
    vertical-align: sub;
    padding: 0px 0px;
    font-size: 20px;
    line-height: 20px;
}
.text-teal {
    font-weight: 600;
}
.text-bold {
    font-weight: 600;
}